body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
}
.forgot-password{

    border-radius: 10px;
    border: 2px solid red;
    background: white;
    margin: 20% 35%;
    width: 30%;
    padding: 10px;
}
.forgot-password h1{
    text-align: center;
    color: blueviolet;
}
.forgot-password p{
    text-align: center;
    
}
.forgot-password input{
    width: 85%;
    margin-left: 20px;
    padding: 10px;
}
.forgot-password button{
    margin-left: 40px;
margin-bottom: 20px;
margin-top: 20px;
border: none;
border-radius: 20px;
border: 1px soild;
background: blueviolet;
width:80% ;
padding: 10px;
}
.forgot-password button:hover{
    text-decoration: none;
    background: blue;
    
}
.forgot-password a{
margin-left: 32%;
}
